body {
  padding: 20px;
  font-family: 'Carme', sans-serif;
}
h1,
h3 {
  color: #293b40;
}
a {
  text-decoration: none;
  color: #8dc5d6;
}
main {
  margin: 0 auto;
  max-width: 1024px;
}
header ul {
  list-style-type: none;
  float: left;
}
.photo {
  width: 174px;
  float: right;
}
.clear {
  clear: both;
}
footer {
  text-align: center;
}
footer img {
  width: 50px;
}
mark {
  background-color: #f0f2f5;
}
